sudo: false

language: node_js

cache:
  yarn: true
  directories:
    - node_modules

notifications:
  email: false

node_js:
  - 8
  - 7
  - 6
  - 5
  - 4

before_install:
  - npm i -g npm
  - npm i -g yarn
  - yarn

before_script:
  - npm prune

script:
  - node --version
  - npm --version
  - yarn --version
  - npm test

after_success:
  - npm run report-coverage
  - npm run semantic-release

branches:
  except:
    - /^v\d+\.\d+\.\d+$/
